Google Analytics API - Data Collection

In [39]:
# Import libraries 
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [40]:
# Import the code for fetching GA Data
from gaData2 import *

In [41]:
######### Configure the inputs ##################
### Replace with your own view_id
gaView = "ga:3074043"
### Set the date range for your data
start_date='2019-01-01'
end_date='2019-01-01'
### Replace with your own segmentId you found in Query Explorer
#segments = [{"segmentId": "gaid::xxxxxxxxxxxxxx"}]
filters="ga:country==Netherlands"
### To get data, we must have one metrics, here we use sessions
metrics=[{"expression": "ga:itemRevenue"},{"expression": "ga:uniquePurchases"},
         {"expression": "ga:itemQuantity"}]
### Replace with your own custom dimention ID and include segment also
dimensions=[{"name": "ga:productBrand"}, {"name":"ga:longitude"}, {"name": "ga:latitude"},
           {"name": "ga:date"},{"name": "ga:city"},{"name": "ga:productCategoryHierarchy"},
           {"name": "ga:country"}]
### Your data will be grouped by the dimensions you use 
group_by = ["ga:productBrand", "ga:longitude", "ga:latitude", "ga:date", "ga:country","ga:city", "ga:productCategoryHierarchy"]
### Set your client secret path where you put your client credentials 
CLIENT_SECRETS_PATH = 'client_secrets_dept.json'

In [42]:

# Initiate the analytics client
analytics = initialize_analyticsreporting(CLIENT_SECRETS_PATH)

In [43]:
######### Run the program to get data ##################
start_time = time.time()
data = return_ga_data(analytics,
                      start_date= start_date,
                      end_date=end_date,
                      view_id=gaView,
                      metrics=metrics,
                      dimensions=dimensions,
                      filters=filters,
                      group_by = group_by)
                      #segments = segments,
                      
data.head()

,ga:productBrand,ga:longitude,ga:latitude,ga:date,ga:country,ga:city,ga:productCategoryHierarchy,ga:itemQuantity,ga:itemRevenue,ga:uniquePurchases
0,181,5.4836,52.2225,20190101,Netherlands,Nijkerk,Sneakers,1.0,103.26,1.0
1,A.S.98,4.6591,52.0313,20190101,Netherlands,Waddinxveen,Biker boots,1.0,115.66,1.0
2,A.S.98,4.7683,51.5719,20190101,Netherlands,Breda,Biker boots,1.0,116.08,1.0
3,A.S.98,6.0224,50.8928,20190101,Netherlands,Landgraaf,Biker boots,2.0,232.11,2.0
4,ADIDAS,3.6110,51.4988,20190101,Netherlands,Middelburg,Sneakers,1.0,66.86,1.0